default_language_version:
  python: python3
exclude: |
  (?x)^(
      venv/|
      ckp/|
      rollout/|
      docs/|
  )$
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: check-docstring-first
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: requirements-txt-fixer
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.2.2'
    hooks:
      - id: ruff
        args: [ --fix ]
      - id: ruff-format
