--extra-index-url https://download.pytorch.org/whl/cpu

--find-links https://storage.googleapis.com/jax-releases/jax_cuda_releases.html

# Data
cloudpickle

# JAX
dm_haiku==0.0.9
e3nn_jax==0.17.0
h5py
jax[cuda]==0.4.7
jax_md==0.2.3
jaxlib[cuda]==0.4.7
jmp==0.0.4
jraph==0.0.6.dev0

# Misc
numpy
optax==0.1.3
pot
pyvista
PyYAML
torch==1.13.0+cpu
wandb
